.mainContainer {
    margin: 5%;
    max-width: 90%;
    min-height: 100rem;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 15rem 10rem 5rem;
}

    .letters { grid-area: 1 / 1 / 2 / 6; }
    .scoreboard { grid-area: 2 / 1 / 3 / 2; background-color: purple;}
    .exit { grid-area: 3 / 1 / 4 / 2; background-color: blanchedalmond;}
    .question { grid-area: 2 / 2 / 3 / 6; background-color: green;}
    .pass { grid-area: 3 / 2 / 4 / 4; background-color: red;}
    .send { grid-area: 3 / 4 / 4 / 6; background-color: violet;}

  
.lettersGrid {
    display: grid;
    grid-template-columns: repeat(9, 11%);
    grid-template-rows: repeat(3, 5rem);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}
    .a { grid-area: 1 / 1 / 2 / 2; background-color: aquamarine;}
    .b { grid-area: 1 / 2 / 2 / 3; }
    .c { grid-area: 1 / 3 / 2 / 4; background-color: aquamarine;}
    .d { grid-area: 1 / 4 / 2 / 5; }
    .e { grid-area: 1 / 5 / 2 / 6; background-color: aquamarine;}
    .f { grid-area: 1 / 6 / 2 / 7; }
    .g { grid-area: 1 / 7 / 2 / 8; background-color: aquamarine;}
    .h { grid-area: 1 / 8 / 2 / 9; }
    .i { grid-area: 1 / 9 / 2 / 10; background-color: aquamarine;}
    .j { grid-area: 2 / 1 / 3 / 2; }
    .k { grid-area: 2 / 2 / 3 / 3; background-color: aquamarine;}
    .l { grid-area: 2 / 3 / 3 / 4; }
    .m { grid-area: 2 / 4 / 3 / 5; background-color: aquamarine;}
    .n { grid-area: 2 / 5 / 3 / 6; }
    .ñ { grid-area: 2 / 6 / 3 / 7; background-color: aquamarine;}
    .o { grid-area: 2 / 7 / 3 / 8; }
    .p { grid-area: 2 / 8 / 3 / 9; background-color: aquamarine;}
    .q { grid-area: 2 / 9 / 3 / 10; background-color: aquamarine;}
    .r { grid-area: 3 / 1 / 4 / 2; }
    .s { grid-area: 3 / 2 / 4 / 3; background-color: aquamarine;}
    .t { grid-area: 3 / 3 / 4 / 4; }
    .u { grid-area: 3 / 4 / 4 / 5; background-color: aquamarine;}
    .v { grid-area: 3 / 5 / 4 / 6; }
    .w { grid-area: 3 / 6 / 4 / 7; background-color: aquamarine;}
    .x { grid-area: 3 / 7 / 4 / 8; }
    .y { grid-area: 3 / 8 / 4 / 9; background-color: aquamarine;}
    .z { grid-area: 3 / 9 / 4 / 10; }

.scoreboardGrid {
    display: grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    }
    
    .time { grid-area: 1 / 1 / 2 / 2; }
    .score { grid-area: 2 / 1 / 3 / 2; }