.letterCircle {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 0.15rem solid blue; 
    padding: 0.5rem;
    margin: 2%;
    text-align: center;
    
}

    @media (min-width: 768px) {
        .letterCircle{
            width: 3em;
            height: 3em;
            border: 0.25rem solid blue;
        }
    }