.letterCircle {
    border-radius: 50%;
    font-size: larger;
    width: 3em;
    height: 3em;
    padding: 0.5rem;
    margin: 2%;
    border: 0.25rem solid blue;
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
        .letterCircle{
            font-size: medium;
            width: 1em;
            height: 1em;
            border: 0.15rem solid blue;
        }
}